<header>
	<div class='flex'>
		<div><strong>fakebook</strong></div>
		<% if(locals.user){ %>
		<div><a href='/users/profile'><%= user.name %></a>
		</div>
		<div>
			<a href='/users/remove-session'>LogOut</a>
		</div>
		<% }else{ %>
		<div>
			<a href='/users/login'>Login</a>
		</div>

		<div>
			<a href='/users/signup'>SignUp</a>
		</div>
		<% } %>
	</div>
</header>