<header>
	<div class='default-flex nav-bar'>
		
		<div class='_20per'>
			<a id='app-name' href='/'><strong>Socialera</strong></a>
		</div>
	
		<div class='_80per reverse-flex'>
		<% if(locals.user){ %>
		<div class='small-margin'>
		<input type='text' placeholder='Search Here...'/>
		<button type="submit"><i class="fa fa-search"></i></button>
		</div>			
        
		<div id='nav-user' class='small-margin'>
			<a class='black-font' href='/users/profile/<%= user._id %>'>
				<span><%= user.name.split(" ")[0] %></span>
				<img src = '<%= locals.user.avatar %>'>
			</a>
		</div>


		<div class='small-margin'>
			<a href='/users/remove-session'>LogOut</a>
		</div>
		<% }else{ %>
		<div class='small-margin'>
			<a href='/users/login'>Login</a>
		</div>

		<div class='small-margin'>
			<a href='/users/signup'>SignUp</a>
		</div>
		
		<% } %>
		</div>
	</div>
	<span class='hamburger-icon'>
	<i class="fa fa-align-justify"></i>
	</span>
</header>