<link rel="stylesheet" type="text/css" href="/css/social_auth.css">

<!-- <span><a href='/users/auth/google'>Google</a></span>

<span><a href='/users/auth/github'>Github</a></span> -->

<span>
	<button id='google-btn'>
		<a><%= title %> with Google</a>
	</button>
</span>

<span>
	<button id='github-btn'>
		<a><%= title %> with Github</a>
	</button>
</span>

<!-- <span><a href='/users/auth/facebook'>Facebook</a></span> -->