<link rel="stylesheet" type="text/css" href="<%= assetPath('css/social_auth.css') %>">

<span>
	<button id='google-btn'>
		<a href='/users/auth/google'><%= title %> with Google</a>
	</button>
</span>

<span>
	<button id='github-btn'>
		<a href='/users/auth/github'><%= title %> with Github</a>
	</button>
</span>

<!-- <span><a href='/users/auth/facebook'>Facebook</a></span> -->