<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<!-- <div><h1 class='top-margin'>My FB // My Profile</h1></div> -->
<!-- <div class='auth-heading'>My Profile</div> -->
<div class='top-padding center'>
<div><strong>Username</strong> : <%= profile_user.name %></div>
<div><strong>E-mail</strong> : <%= profile_user.email %></div>

<% if(user.id == profile_user.id){ %>
	<div><button><a href = '/users/profile/update/<%= profile_user.id %>'>Update Profile</a></button></div>
<% } %>

</div>