<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<!-- <div><h1 class='top-margin'>My FB // My Profile</h1></div> -->
<div class='auth-heading'>My Profile</div>
<div class='top-margin'>
<div><strong>User</strong> : <%= user.name %></div>
<div><strong>E-mail</strong> : <%= user.email %></div>
</div>