<link rel="stylesheet" type="text/css" href="/css/reset_password.css">
		
<form action = '/users/reset_password/<%= resetToken %>' method='post'>
<div style='display: flex;flex-direction:column;align-items: center;'> 
	<input id='pass' type='password' name='password' type='password' placeholder = 'Enter New Password' required>
	<span>Password should have 5 or more characters!</span>
	<input id='c-pass' name='confirm_password' type='password' placeholder="Confirm your Password" required>
	<input type='submit' value='Reset'>
</div>
</form>

<script type="text/javascript" src='/js/reset_password.js'></script>
