div{
	&#chatbox{
		display:none;
		// display: flex;
		flex-direction: column;
		background: #c0e2e2;
		font-size: 1.3rem;
		height: 48vh;
		width: 16rem;
		border: 2px solid mediumblue;
		position: fixed;
		/* top: 50.4vh; */
		bottom: 0.5rem;
		right: 0.5rem;
		
		/*div{
			&#chat-header{
				span{
					
				}
				text-align: center;
				width:12%;
				border-bottom: 1px solid black;
				width: 100%;
			}
		}*/
		ul{
			margin:0;
			padding: .5rem;
			/*padding-inline-start:0;*/
			&#chat-list-container{
				display: flex;
    			flex-direction: column;
				position: relative;
				height:80%;
				overflow-y:auto;
				line-break: anywhere;
				/*display: flex;
				flex-direction: column;*/
				li{
					margin-bottom:.5rem;
					padding:.3rem;
					list-style: none;
					&.other-msg{
						width:95%;
						padding:.25rem;
						display: flex;
						flex-direction: column;

						div:nth-child(1) {
							font-size: 1.2rem;
							font-family: monospace;
							font-weight: 600;
							padding: 2px;
						}
						div:nth-child(2) {
							font-size: 1.2rem;
							font-family: system-ui;
							padding: 5px;
							border: 2px solid;
							border-radius: 15px;
							border: 2px solid rebeccapurple;
							background: darkseagreen;
							line-height: 20px;
						}
						span{
							background-color: green;
							padding:.3rem;
							float: left;
							word-break: break-word;
						}
					}
					&.self-msg{
						width:95%;
						padding:.25rem;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						div:nth-child(1) {
							font-size: 1.2rem;
							font-family: monospace;
							font-weight: 600;
							padding: 2px;
						}
						div:nth-child(2) {
							font-size: 1.2rem;
							font-family: system-ui;
							padding: 5px;
							border: 2px solid;
							border-radius: 15px;
							border: 2px solid rebeccapurple;
							background: darkseagreen;
							line-height: 20px;
						}
						span{
							background-color: grey;
							padding: .3rem;
							float: right;
							word-break: break-word;
						}
					}
					&.notify{
						position: sticky;
						top: 0px;
						text-align: center;
						padding: .15rem;
						font-size: 1.1rem;
					    font-style: italic;
					    font-family: monospace;
						border-bottom: 2px solid darkblue;
					    display: none;
					  	span{
							padding: .3rem;
						}
					}
				}
			}
		}
		div{
			&#message-input-container{
				border-top: 2px solid darkblue;
				height: 25%;
				/* position: fixed; */
				bottom: 4rem;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				width: 100%;
    			div{
    				width:100%;
    				text-align: center;
    				input{
    				&#msg-text{
    					color: black;
						width: 90%;
						font-family: system-ui;
						font-weight: 600;
    				}
    				}
    			    button{
    			    &#msg-send{

						color: white;
						background: darkblue;
						/* height: 25px; */
						height: 100%;
						border: 2px solid #1a237e;
						border-radius: 10px;
    				} 
    				}
    			}
    						
			}
		}
	}
}