header{
	/*color:blue;*/
	font-size: 2rem;
	.nav-bar{
		/*background-color: #328be494;*/
		background: linear-gradient(45deg, #8dd899,#88b3e0,#e6da83, #d08990);
	}
	.default-flex{
		display: flex;
		align-items: center;
		.reverse-flex{
			display: flex;
			justify-content: flex-end;
		}
		._20per{
			align-self: center;
			width: 19rem;
			padding: .3rem .8rem;
			#app-name{
				color:blue;
				font-size:3rem;
				margin-left:.3rem;
			}
		}

		._80per{
			width: 64rem;

			#nav-user{
			/*background-color: #254cd4;*/
			background-color: #5f7ff1;
			font-weight: 600;
    		font-family: sans-serif;
			}
			div{
				align-self: center;
				text-align: center;
				a{
					color: white;
					img{
					    position: relative;
					    top: 8px;
					    left: 5px;
					    width: 35px;
					    height: 35px;
					    border-radius: 50%;
					    border: 1px solid #3b3b75db;
					    object-fit: cover;
					    box-shadow: 0 0 4px 1px #c73821;
					}
				}
			}
			.small-margin{
				padding:1rem 1rem 1rem 1rem;

				.black-font{
					color: black;
				}
			}
		}
	}
}