header{
	/*color:blue;*/
	font-size: 2rem;
	.nav-bar{
		background-color: #328be494;
	}
	.default-flex{
		display: flex;
		align-items: center;
		.reverse-flex{
			display: flex;
			justify-content: flex-end;
		}
		._15per{
			width: 15%;
			padding: .3rem .8rem;
			#app-name{
				color:blue;
				font-size:3rem;
				margin-left:.3rem;
			}
		}

		._85per{
			width: 85%;

			#nav-user{
			background-color: #254cd4;
			font-weight: 600;
    		font-family: sans-serif;
			}
			div{
				a{
					color: white;
				}
			}
			.small-margin{
				padding:1rem 1rem 1rem 1rem;

				.black-font{
					color: black;
				}
			}
		}
	}
}