div{
	&#home-container{
		display: flex;
	}
	&#welcome-text{
		position: absolute;
	    font-size: 4rem;
	    width: 100%;
	    text-align: center;
	    margin-top: 8rem;
	}
	&.main-head{
		margin: 1.5rem .5rem 1.5rem 1rem;
		font-size: 3rem;
	}
}
section{
	&#feed-posts{
		width: 80%;
		padding: 1rem;
		min-height:67vh;
	}
	&#user-friends{
		width: 20% ;
		padding: 0;
		border-left: 2px solid #2b1295;
		div{
			&.sidebar-heading{
				padding: 1rem .8rem;
			    background: #80bdb196;
			    font-family: cursive;
			    font-weight: 600;
			    color: #393ebd;
			}
		}
		p{
			padding: .3rem 1rem;
			padding-right: 0;
			margin: 0 0;
			position: relative;
			img{
			    position: relative;
			    top: 3px;
			    width: 25px;
			    height:25px;
			    border-radius: 50%;
			    border: 1px solid ghostwhite;
			    object-fit: cover;
			}
			a{
				position: relative;
				top:-3px;
				color: black;
    			font-size: 1.5rem;
    			font-family: sans-serif;
			}
		}
		p:nth-of-type(even){
			background-color: #9cf476ba;
		}
		p:nth-of-type(odd){
			background-color: #d17d956b;
		}
	}
	#post-container{
		ul{
			padding: 0;
			list-style: none;
			&#post-ul{
				padding-left: 1rem;
				padding-right: 1rem;
			}
			&#post-ul>li{
				div{
					&.post-comment-list{
						div{
							&.cmnt-date{
								font-size: .9rem;
								// float: right;
								margin-right: 1rem;
								font-size: 1rem;
							}
						}
					}
				}	
				box-sizing: border-box;
				border:2px solid black;
				margin-bottom: 2rem;
				padding: 15px;
				div{
					&.like-pallet{
						width: 100%;
						border-top:2px solid black;
						border-bottom: 2px solid black;
						margin-top: 1.5rem;
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
				}
				span{
					&.post-date{
						// float:right;
						margin-right: 1rem;
						font-size: 1rem;
					}
				}
			}

		}

	}
	#new-post-form{
		margin-left: 1rem;
		input[type='submit']{
			font-size: 1.4rem;
		    font-family: fantasy;
		    color: #1c1b38;
		    background: dodgerblue;
		}
		textarea{
			resize: none;
		}
	}
	.main-sub-head{
		margin: 1rem .5rem 1rem 1rem;
		font-size: 3rem;
		font-family: monospace;
	}
}

@media screen and (max-width: 530px){
	section{
		&#feed-posts{
			padding:0 5px;
			width:75%;
			textarea{
				width: 65%;
			}
		}
		&#user-friends{
			width: 25%;
		}
	}
}

@media screen and (max-width: 840px){
	#home-container{
		display: flex;
		section{
		font-size: 1.5rem;
		&#feed-posts{
			/**/
		}
		&#user-friends{
			width: 135px;
			font-size: 1rem;
			div{
				&.sidebar-heading{
					padding:4px 0 4px .6rem;
					font-size: 1.4rem;
				}
			}
			p{
				img{
					position: relative;
				    left: -10px;
				    width: 23px;
				    height: 23px;
				}
				a{
					font-size: 1rem;
					font-weight: 600;
					position: relative;
				    left: -10px;
				    top: -3px;
				}
			}
		}
	}
}
}
