$medium : 2rem;

body{
	/*font-size:$medium;*/
	background-color:#f6f6fb8f;
	margin:0 0;

	#layout-body{
		background: linear-gradient(45deg, #d0dbdebf, #f4e5cee6);
		font-size: $medium; 
		padding: 0;
		min-height:72vh;
	}
}