$medium : 2rem;

body{
	position:relative;
	/*font-size:$medium;*/
	background-color:#f6f6fb8f;
	margin:0 0;

	#layout-body{
		background: linear-gradient(45deg, #d0dbdebf, #f4e5cee6);
		font-size: $medium; 
		padding: 0;
		min-height:72vh;

		/*Fixing the nav at top , so pushing main content behing when at top of nav --temporarily*/
	    z-index: -1;

	}
}
#load-container{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #369396c2;
	width:100%;
	height:100vh;
	margin:0 auto;
}
#static{
	display: none;
	font-size: 3.5rem;
	position: absolute;
	/*margin:auto;*/
	width:50%;
	left:0;
	right:0;
	top:3rem;
	margin:auto;
	text-align: center;
	font-weight: 600;
	color:blue;
}
#name{
	/*display: none;*/
	font-size: 3rem;
	position: absolute;
	animation:new 3s linear infinite;
	  left: 44%;
	  top: 25%;
}
@keyframes new{
	0%{
		color:red;
		left:41%;
		/*margin:0 auto;*/
		font-size: 4rem;
	}
	25%{
		color:green;
		left:52%;
		/*right:35%;*/
		font-size:3rem;
	}
	50%{
		color:silver;
		left:41%;
		/*margin:0 auto;*/
		font-size: 4rem;
	}
	75%{
		color:blue;
		left:33%;
		font-size: 3rem;
	}
	100%{
		color:black;
		left:41%;
		font-size: 4rem;
	}
}

#outer{
	width: 20%;
	height: 20%;
	/*background-color: grey;*/
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	margin: auto;
}
.center{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#loader{
	width:75px;
	height: 75px;
	border:4px solid black;
	border-top:4px solid red;
	border-bottom: 4px solid red;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}
@keyframes spin{
	50%{
		transform: rotate(120deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
@media screen and (max-width:700px){
	#name{
		display: none;
	}
	#static{
		display: block;
	}
}