form{
	padding:5rem;
	input{
		width: 30%;
	    padding: .4rem;
	    font-size: 1rem;
	    margin-bottom: 1rem;
	    border: 2px solid #4949bd;
	    font-family: cursive;
	    letter-spacing: .2rem;
	}
	input[type='submit']{
		width: 12%;
    	font-size: 1.1em;
	    font-weight: 600;
	    outline: none;
	    border: 2px solid #2b3faf;
	    background: #68ce90;
	    color: #15154a;
	    border-radius: 10px;
	}
	span{
		text-align: center;
	    font-size: 1.2rem;
	    color: #d62425;
	    font-weight: 600;
	    font-family: monospace;
	    padding-bottom:1rem;
}
}