body{
	#signup{
		padding: 2rem 2rem;
		.auth-heading{
		    text-shadow: 1px 0 5px #e04f21;
			color: #980319;
		    font-size: 3rem;
		    margin-bottom: 1rem;
		    border-bottom: 2px solid #07025e;
		    width: 105%;
		    text-align: center;
		    padding-bottom: 1rem;
		}
		#new-form{
			box-shadow: 0 0 20px 2px #af74a3;
			background: linear-gradient(45deg, #ca8c8c, #bdc56c00);
			padding:.4rem 1rem;
			display:flex;
			flex-direction:column;
			width: 30%;
			min-width: 19rem;
			margin: 0 auto;
			align-items: center;
			border:2px solid #020261;
			  
			.warning{
				text-align: center;
			    font-size: 1.2rem;
			    margin-bottom: -0.6rem;
			    color: #d62425;
			    font-weight: 600;
			    font-family: monospace;
			    padding-bottom:1rem;
			}

			.placeholder{
				text-align: center;
			    font-size: 1.4rem;
			    margin-bottom: -0.6rem;
			    color:#4a49e2;
			    font-weight: 600;
			    font-family: monospace;
			}

			input{
				font-family: serif;
				border-radius: .9rem;
			    border: 2px solid slateblue;
			    box-shadow: 0 0 5px 1px #d6aeb6;
			    outline: none;
			    font-size:1.4rem;
				margin:.6rem;
				padding:.5rem;
			}
			input[type='submit']{
				border-radius: 10px;
			    border: 2px solid #871b1b;
			    color: #de2312;
			    font-family: cursive;
			    background: #53a7ce;
			    box-shadow: 0 0 15px 3px #d5c436;
			}
		}
	}
}