body{
	background-color:#f6f6fb8f;
	div{
		&.container{
		padding:1rem 1rem;
		display:flex;
		flex-direction:row;
		}
		&.center{
			text-align: center;
		}
		&.pic-container{
			width: 30%;
			img{
			    width: 16rem;
			    border: 2px solid grey;
			    box-shadow: 0 0 10px #ad7363;
			    margin: .2rem .2rem;
			}
		}
		&.detail-container{
			width: 70%;
			display: flex;
			flex-direction: column;
		}
		/*&.auth-heading{
			font-size:3rem;
			font-weight: 600;
			color:green;
			margin: 0.5rem 0 1rem 0;
		}*/
		button{
		&#update{
			font-size: 1.4rem;
		    border: 2px solid blueviolet;
		    background: #35b1e4;
			}
		&#delete{
		    font-size: 1.4rem;
		    border: 2px solid #367536;
		    background: #f13434;
			a{
			color: black;
			}
		}
		}
	}
}