<!-- <link rel="stylesheet" type="text/css" href="/css/emails/comment.css">  -->
<div style='text-align:center;background: linear-gradient(45deg, #b55353, #65b8d6f7);/*width:68%*/width:75%;height: auto;padding: 3rem;padding-top:1rem;margin:1rem auto;text-align: center;'>

	<p style='text-align: center;color:#3131a9;font-family: cursive;font-size: 2.5rem'>Password Reset Request for Socialera</p>
	<p style="word-spacing: .04rem;
			    text-align: center;
			    font-size: 1.8rem;
			    letter-spacing: .03rem;
			    font-family: monospace;
			    font-size: 2rem;
			    color:white">

			    Hello <%=reset.user.name %> , You requested for your password reset !<br>
				
				<form action = 'http://localhost:8000/users/reset_password/<%= reset.token %>' method='post'>
				<div style='display: flex;flex-direction:column;align-items: center;'> 
					<input style='
						width: 30%;
					    padding: .4rem;
					    font-size: 1rem;
					    margin-bottom: 1rem;
					    border: 2px solid #4949bd;
					    font-family: cursive;
					    letter-spacing: .2rem;
					'type='password' name='password' placeholder = 'Enter New Password'>
					<input style='
					    width: 30%;
					    padding: .4rem;
					    font-size: 1rem;
					    margin-bottom: 1rem;
					    border: 2px solid #4949bd;
					    font-family: cursive;
					    letter-spacing: .2rem;
					' name='confirm_password' placeholder="Confirm your Password">
					<input style="width: 10%;
					    font-size: 1.34em;
					    font-weight: 600;
					    outline: none;
					    border: 2px solid #2b3faf;
					    background: #68ce90;
					    color: #15154a;
					    border-radius: 10px;" type='submit' value='Reset'>
				</div>
				</form>
				<p style='font-size: 1.2rem;
				    font-weight: 600;
				    color: #862121;'>This is a one time form . Please fill it carefully !</p>
				</p>
			   
</div>