
<link rel="stylesheet" type="text/css" href="/css/emails/comment.css"> 
<div style='text-align:center;background-color: grey;width:100vw;height: 100vh;'>

	<p style='text-align: center;color: blue;font-size: 3rem'>Socialera</p>
	<p style="text-align: center;font-size: 1.8rem"> You commented : <strong style="color: red"><%= comment.content %></strong> on <em>Socialera</em> </p>


</div>