footer {
  font-size: 2rem;
  height: auto;
  color: #bd0d0d;
  background-color: #bcb4b1;
  padding: 1rem 1rem; }
  footer div {
    font-weight: 600; }
    footer div small {
      color: #0b256b;
      font-weight: 200; }
