header {
  /*color:blue;*/
  font-size: 2rem; }
  header .nav-bar {
    background-color: #328be494; }
  header .default-flex {
    display: flex;
    align-items: center; }
    header .default-flex .reverse-flex {
      display: flex;
      justify-content: flex-end; }
    header .default-flex ._15per {
      width: 15%;
      padding: .3rem .8rem; }
      header .default-flex ._15per #app-name {
        color: blue;
        font-size: 3rem; }
    header .default-flex ._85per {
      width: 85%; }
      header .default-flex ._85per #nav-user {
        background-color: #254cd4;
        font-weight: 600;
        font-family: sans-serif; }
      header .default-flex ._85per div a {
        color: white; }
      header .default-flex ._85per .small-margin {
        padding: 1rem 1rem 1rem 1rem; }
        header .default-flex ._85per .small-margin .black-font {
          color: black; }
