div#home-container {
  display: flex; }

div.main-head {
  margin: 1.5rem .5rem 1.5rem 1rem;
  font-size: 3rem; }

section#feed-posts {
  width: 80%;
  padding: 1rem; }

section#user-friends {
  width: 20%;
  padding: 0;
  border-left: 2px solid #2b1295; }
  section#user-friends div.sidebar-heading {
    padding: 1rem .8rem;
    background: #80bdb196;
    font-family: cursive;
    font-weight: 600;
    color: #393ebd; }
  section#user-friends p {
    padding: .3rem 1rem;
    margin: 0 0; }
    section#user-friends p a {
      color: black;
      font-size: 1.5rem;
      font-family: sans-serif; }
  section#user-friends p:nth-of-type(even) {
    background-color: #9cf476ba; }
  section#user-friends p:nth-of-type(odd) {
    background-color: #d17d956b; }

section #post-container ul {
  /*list-style: none*/ }

section #new-post-form {
  margin-left: 1rem; }
  section #new-post-form input[type='submit'] {
    font-size: 1.4rem;
    font-family: fantasy;
    color: #1c1b38;
    background: dodgerblue; }
  section #new-post-form textarea {
    resize: none; }

section .main-sub-head {
  margin: 1rem .5rem 1rem 1rem;
  font-size: 3rem;
  font-family: monospace; }
