body {
  background-color: #ded96487;
  margin: 0 0;
  /*font-size:$medium;*/ }
  body span {
    /*&#sticky-flash{
			position: absolute;
    		top: 4.4rem;
    		left: 33rem;
    		border: 2px solid grey;
    		padding: .4rem;
    		box-shadow: 0 0 10px 1px greenyellow;
   			font-size: 1.4rem;
    		font-family: monospace;
    		background: #8dea98;
		}*/ }
  body #layout-body {
    font-size: 2rem;
    padding: 0 1rem;
    min-height: 72vh; }
