body {
  background-color: #f6f6fb8f; }
  body div.container {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  body div.center {
    text-align: center; }
  body div.pic-container {
    width: 25%;
    /*margin-left: -2.5rem;*/
    padding: .1rem 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    body div.pic-container img {
      width: 100%;
      border: 2px solid grey;
      box-shadow: 0 0 10px #ad7363;
      margin: .2rem .2rem;
      object-fit: cover;
      height: 20rem;
      transition: transform .5s; }
    body div.pic-container img:hover {
      /*transform: rotate(90deg);*/
      transform: scale(1.02); }
    body div.pic-container div {
      color: #3c37d3;
      font-size: 2.5rem;
      font-weight: 600; }
  body div.detail-container {
    width: 75%;
    display: flex;
    flex-direction: column; }
    body div.detail-container #confirm {
      display: flex;
      flex-direction: column;
      width: 19rem;
      margin-top: 1rem;
      padding: 5px;
      background: #d1d4da;
      border-radius: 10px;
      box-shadow: #627d7d 0px 0px 5px 4px; }
      body div.detail-container #confirm span {
        display: flex;
        justify-content: space-between; }
        body div.detail-container #confirm span#decision {
          margin: .2rem 0; }
          body div.detail-container #confirm span#decision strong {
            color: #e82222; }
          body div.detail-container #confirm span#decision button {
            outline: none; }
          body div.detail-container #confirm span#decision #yes {
            border-radius: 10px;
            border: 2px solid #dc1818; }
            body div.detail-container #confirm span#decision #yes a {
              color: #dc1818; }
          body div.detail-container #confirm span#decision #no {
            border-radius: 10px;
            border: 2px solid #4747dced;
            color: #4747dced;
            cursor: pointer; }
        body div.detail-container #confirm span button {
          font-size: 1.5rem; }
        body div.detail-container #confirm span#warning {
          font-size: 1.2rem;
          text-align: justify; }
  body div button#update {
    font-size: 1.4rem;
    border: 2px solid blueviolet;
    background: #35b1e4; }
  body div button#delete {
    font-size: 1.4rem;
    border: 2px solid #367536;
    background: #f13434; }
    body div button#delete a {
      color: black; }

@media screen and (max-width: 830px) {
  body div.container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  body div.pic-container {
    width: 100%; }
    body div.pic-container img {
      width: 200px;
      height: 250px; }
  body div.detail-container {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; } }
